form(class="register")
  input(type="email", name="email", placeholder="Email")
  br
  input(type="password", name="password", placeholder="Password")
  br
  input(type="text", name="firstname", placeholder="First Name")
  br
  input(type="text", name="lastname", placeholder="Last Name")
  br
  input(type="text", name="company", placeholder="Company")
  br
  input(type="text", name="phone", placeholder="Phone")
  br
  input(type="submit", value="Register")

script(src="https://cdn.socket.io/socket.io-1.2.0.js")
script(src="http://code.jquery.com/jquery-1.11.1.js")
script.
  var socket = io.connect('localhost:8080');

  $('form.register').submit(function() {
    socket.emit('business register', $(this).serializeArray());

    return false;
  });
  socket.on('business register fail', function (err) {
    console.log('registration failed: ' + err);
  });
  socket.on('business register succeed', function (_id) {
    console.log('registration succeeded: ' + _id);
  });